* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #CE1141;
  position: fixed;
  width: 100%;
  height: 50px;
}

.navbar-link {
  padding: 0 10px;
  color: #000000;
}

.navbar-link:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.navbar-link a {
  color: inherit;
  text-decoration: none;
}

#home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #CE1141;
}

#title-wrapper {
  width: 50%;
}

#img-div {
  width: 100%;
  height: 100vh;
}

#image {
  width: 100%;
  height: 100vh
}

#title {
  font-size: 300%;
  padding: 10px;
}

#tribute-info {
  font-size: 20px;
  line-height: 1;
  padding: 10px;
}

#img-caption {
  padding: 10px;
  font-style: italic;
}

#timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000000;
}

#timeline-title {
  color: #FFFFFF;
  padding: 10px;
  margin: 0 auto;
}

.date-wrapper {
  color: #FFFFFF;
  line-height: 1;
  padding: 10px;
}

#read-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #CE1141;
  height: 100px;
}

#read-more-title {
  color: #000000;
  padding: 10px;
  margin: 0 auto;
}

#link-wrapper {
  margin: 0 auto;
}

#link-wrapper a {
  padding: 10px;
  color: #000000;
}

#link-wrapper a:hover {
  color: #FFFFFF;
  cursor: pointer;
}

@media (max-width: 450px) {

#image {
  width: 100%;
  height: 50%;
  padding-top: 110px;
}
  
#title {
  font-size: 200%;
}  

  #tribute-info {
  font-size: 15px;
}
}